<app-header></app-header>
<main role="main">

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3>Наш адрес: ул.Аэродромная 13, Минск</h3>
    <h4> +375 (44) 7337722, bubbleGYM@gmail.com</h4>
    <h4> Время работы: круглосуточно</h4>

  </div>

  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1903.2823091750597!2d27.539885684576973!3d53.8738745888762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1584633944392!5m2!1sru!2sby"
      width="1200" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>

</main>
<app-footer></app-footer>
